#projects {
  padding: 2rem 4rem;
  background-color: #0e1111;
  margin: 0 auto; /* center wrapper itself */
  box-sizing: border-box;
}

#projects h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #00ff41;
  margin-bottom: 3rem;
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* left-align cards inside */
  gap: 2rem;
  max-width: 1300px;
  width: 100%;
}

.project-card {
  background-color: #1a1f1f;
  border: 2px solid #dddddd;
  border-radius: 12px;
  padding: 1rem;
  width: 400px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 255, 65, 0.15);
  text-align: center;
}

.project-card:hover {
  box-shadow: 0 0 20px rgba(0, 255, 65, 0.25);
  border-color: #00FF41;
}

.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.project-card:hover img {
  border-color: #00FF41;
}

.project-card h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  text-align: center;
  color: #00FF41;
}

#projects h2 {
  color: #dddddd;
  text-align: center;
}

@media (max-width: 1300px) {
  #projects {
    padding: 2rem 3rem;
  }
}

@media (max-width: 950px) {
  .projects-wrapper {
    justify-content: center;
}
}

@media (max-width: 800px) {
  #projects {
    padding: 2rem;
  }
}