.pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 17, 17, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pdf-modal {
  background-color: #222;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  max-width: 80%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 0 20px rgba(0, 255, 65, 0.4);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  color: #00FF41;
  font-size: 1.2rem;
  cursor: pointer;
}