.pdf-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(14, 17, 17, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  color: #00FF41;
  font-size: 1.2rem;
  cursor: pointer;
}

.pdf-modal {
  width: 80vw;
  height: 90vh;
  background-color: #111;
  padding: 1rem;
  overflow: auto;
  position: relative;
}

.pdf-modal canvas {
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}